.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dddddd;
  font-family: "Roboto";
}

.modal {
  display: flex;
}

.input {
}

.button {
}
